<div class="row search-layout__action-box">
  <div class="col-sm-12 col-md-7">
    <div class="search-container">
      <div class="input-wrapper">
        <span class="material-symbols-outlined icon">search</span>
        <input [formControl]="searchInput" type="text" class="search-input" placeholder="Search..." />
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-2">
    <div class="sort-container" [matMenuTriggerFor]="sortMenu" #sortMenuTrigger="matMenuTrigger">
      <span class="label">Sort by : </span>
      <span class="value">{{ selectedSortField }}</span>
    </div>
    <mat-menu #sortMenu="matMenu" xPosition="before">
      <button matButton mat-menu-item (click)="sortMenuChanged('createdOn')">Last created</button>
      <button matButton mat-menu-item (click)="sortMenuChanged('updatedOn')">Last updated</button>
    </mat-menu>
  </div>
  <div class="col-sm-4 col-md-2">
    <div class="filter-container">
      <span class="filter-action"  (click)="toggleFilterPanel()">{{ isFilterApplied ? 'Filter Applied' : 'Apply filter' }}</span>
      <span class="filter-action" [class.disabled]="!isFilterApplied" (click)="clearFilter()">Clear filter</span>
      <div class="filter-options-panel" [class.filter-options-panel--hidden]="!filterPanelOpened">
        <div class="filter-options-panel__header">
          <div class="filter-options-panel__header-heading">{{ filterLabel }}</div>
          <div class="filter-options-panel__header-closebtn">
            <span class="material-symbols-outlined" (click)="toggleFilterPanel()">close</span>
          </div>
        </div>

        <div class="filter-options-panel__body">
          <ng-content></ng-content>
        </div>

        <div class="filter-options-panel__footer">
          <button mat-flat-button color="primary" [disabled]="!isFileterFormValid" (click)="applyFilter()">Apply filter</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-sm-4 col-md-1">
    <button mat-flat-button color="primary" (click)="onAddResource()">{{ addButtonLabel }}</button>
  </div>
</div>
