<div class="supplier-list__container">
  <ecoeden-search-layout addButtonLabel="ADD SUPPLIER" filterLabel="Filter suppliers" [isFileterFormValid]="checkIfAnyControlHasValue()">
    <form [formGroup]="supplierFilterFormGroup">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <mat-form-field>
            <mat-label>Status</mat-label>
            <mat-select formControlName="status">
              <mat-option value="true">Active</mat-option>
              <mat-option value="false">Inactive</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>
  </ecoeden-search-layout>

  <!-- page loading spinner -->
  <ng-container *ngIf="isPageLoading">
    <div class="supplier-list-loading-content">
      <mat-spinner [diameter]="40" color="primary"></mat-spinner>
    </div>
  </ng-container>

  <ng-container *ngIf="!isPageLoading">
    <!-- supplier list table: for desktop view  only-->
    <div class="row height-full" @fadeSlideInOut *ngIf="!isMobileView">
      <div class="col-sm-12">
        <ecoeden-table
          [dataSource]="suppliers"
          [columns]="displayedColumns"
          [paginationMetadata]="paginationMetaData"
          [fieldValueMap]="columnNameMap"
          [dataLength]="dataLength"
          [actionsEnabled]="true"
          [allowModify]="true"
          (visit)="onVisit($event)"
          (pageChange)="pageChange($event)"
        ></ecoeden-table>
      </div>
    </div>

    <div class="row" @fadeSlideInOut *ngIf="isMobileView">
      <div class="col-sm-12">
        <ecoeden-supplier-list-mobile
          [supplierList]="suppliers.data"
          (pageChange)="onMobilePageChange($event)"
          [totalCount]="totalSupplierCount"
          [currentPage]="paginationMetaData.currentPage"
        ></ecoeden-supplier-list-mobile>
      </div>
    </div>
  </ng-container>
</div>
