.unit__form-content {
  height: 100% !important;
}
.unit__background {
  height: 100%;
  background: url('../../../../assets/images/plant3.png') no-repeat;
  background-size: 67%;
  background-position: top right;
  mix-blend-mode: multiply;
}
