@import '../../../../assets/styles/variables';

.content-header {
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__page-icon {
    display: flex;
    align-items: center;
    font-size: $font-md;
    column-gap: 15px;
  }
  &__breadcrumb {
    font-size: $font-sm;
  }
}
