<table cdk-table [dataSource]="tableDataSource">
  <ng-container *ngFor="let column of columns" [cdkColumnDef]="column">
    <th cdk-header-cell *cdkHeaderCellDef>{{ fieldValueMap ? (getColumnKey(column) | capitalize)  : (column | capitalize) }}</th>
    <td cdk-cell *cdkCellDef="let element; let i = index">
      <ng-container *ngIf="column !== 'actions'; else actionColumns">
        <ng-container *ngIf="isStatusField(column); else defaultDisplay">
          <span class="badge rounded-pill"
            [ngClass]="element[getColumnValue(column)] ? 'badge--success':'badge--danger'"
          >{{ element[getColumnValue(column)] | formatStatus }}</span>
        </ng-container>
        <ng-template #defaultDisplay>
          {{ !fieldValueMap ? element[column] 
            : isDateField(column)   
            ? (element[getColumnValue(column)] | formatDate | formatStatus)  
            : element[getColumnValue(column)]  
          }}
        </ng-template>
      </ng-container>
      <ng-template #actionColumns>
        <button class="action-button--watch material-symbols-outlined" (click)="onVisit(element)"> visibility</button>
        <button class="action-button--edit material-symbols-outlined" (click)="onEdit(element)">edit</button>
        <button class="action-button--delete material-symbols-outlined" (click)="onDelete(element)">delete</button>
      </ng-template>
    </td>
  </ng-container>
  <tr cdk-header-row *cdkHeaderRowDef="columns"></tr>
  <tr cdk-row *cdkRowDef="let row; columns: columns"></tr>
</table>
<mat-paginator
  [length]="dataLength"
  [pageIndex]="paginationMetaData.currentPage - 1"
  [pageSize]="paginationMetaData.top"
  [pageSizeOptions]="[5, 10, 15, 20]"
  (page)="onPageChange($event)"
></mat-paginator>
