<div
  class="sidenav sidenav--collapse-full"
  [class.sidenav--collapse]="!isMobileView && !sidenavExpanded"
  [class.sidenav--collapse-full]="isMobileView && sidenavExpanded"
>
  <div class="sidenav__content">
    <ul class="sidenav__content-list">
      <li class="sidenav__content-list--item" matRipple (click)="handleSidenavItemClick()" routerLink="dashboard" [routerLinkActive]="'route-active'">
        <div class="main-content">
          <span class="material-symbols-outlined item-icon">Dashboard</span>
          <span class="item-label">Dashboard</span>
        </div>
      </li>

      <li class="sidenav__content-list--item" (click)="handleSidenavItemClick('suppliers')" [routerLinkActive]="'route-active'">
        <div class="main-content">
          <span class="material-symbols-outlined item-icon">local_shipping</span>
          <span class="item-label">Suppliers</span>
          <span class="material-symbols-outlined item-icon">{{ subMenuList.suppliers ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</span>
        </div>
        <ul class="submenu" [class.submenu--active]="subMenuList.suppliers">
          <li matRipple routerLink="suppliers" (click)="hadndleSubmenuClick()">
            <span class="material-symbols-outlined">list</span>
            <span>All suppliers</span>
          </li>
          <li matRipple routerLink="suppliers/add" (click)="hadndleSubmenuClick()">
            <span class="material-symbols-outlined">add</span>
            <span>Add new supplier</span>
          </li>
        </ul>
      </li>

      <li class="sidenav__content-list--item" (click)="handleSidenavItemClick('users')" [routerLinkActive]="'route-active'">
        <div class="main-content">
          <span class="material-symbols-outlined item-icon">person</span>
          <span class="item-label">Users</span>
          <span class="material-symbols-outlined item-icon">{{ subMenuList.users ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</span>
        </div>
        <ul class="submenu" [class.submenu--active]="subMenuList.users">
          <li matRipple routerLink="users" (click)="hadndleSubmenuClick()">
            <span class="material-symbols-outlined">list</span>
            <span>All users</span>
          </li>
          <li matRipple routerLink="users/add" (click)="hadndleSubmenuClick()">
            <span class="material-symbols-outlined">add</span>
            <span>Create new user</span>
          </li>
        </ul>
      </li>

      <li class="sidenav__content-list--item" (click)="handleSidenavItemClick('products')" [routerLinkActive]="'route-active'">
        <div class="main-content">
          <span class="material-symbols-outlined item-icon">psychiatry</span>
          <span class="item-label">Products</span>
          <span class="material-symbols-outlined item-icon">{{ subMenuList.products ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</span>
        </div>
        <ul class="submenu" [class.submenu--active]="subMenuList.products">
          <li matRipple routerLink="products" (click)="hadndleSubmenuClick()">
            <span class="material-symbols-outlined">list</span>
            <span>All products</span>
          </li>
          <li matRipple (click)="hadndleSubmenuClick()">
            <span class="material-symbols-outlined">add</span>
            <span>Create new product</span>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
