@import "../../../assets/styles/variables";

.sidenav {
  position: relative;
  height: 100%;
  max-width: 25rem;
  min-width: 7.5rem;
  width: 25rem;
  z-index: 2;
  box-shadow: -3px -1px 20px 5px rgba(116, 116, 116, 0.15);
  &__content {
    height: 100%;
    padding-top: 5rem;
    &-list {
      &--item {
        padding: 10px 0 10px 30px;
        display: flex;
        align-items: center;
        column-gap: 2.6rem;
        margin-bottom: 1.5rem;
        &:hover {
          color: $color-primary;
          cursor: pointer;
          .item-icon,
          .item-label {
            color: $color-primary;
            transition: all 0.3s ease-in-out;
          }
        }
        .item-icon {
          color: $color-accent;
        }
        .item-label {
          font-size: 15px;
          color: #7a7a7a;
        }
      }
    }
  }
  transition: all 0.3s ease-in-out;
  &--collapse {
    width: 7.5rem !important;
    white-space: nowrap;
    .sidenav__content-list--item {
      padding: 10px 0 10px 25px;
      column-gap: 2.6rem;
    }
  }
  &--collapse-full {
    min-width: 0rem;
    width: 0;
  }
}
