<main class="app__main">
  <ecoeden-navbar></ecoeden-navbar>
  <div class="app__main__container">
    <ecoeden-sidenav></ecoeden-sidenav>
    <div class="app__main--content">
      <div class="content-render">
        <ecoeden-content-header></ecoeden-content-header>
        <router-outlet></router-outlet>
      </div>
      <ecoeden-footer></ecoeden-footer>
    </div>
  </div>
</main>

<div class="overlay" [class.overlay--hidden]="!isAppBusy && isAuthenticated">
  <mat-spinner diameter="40" color="primary"></mat-spinner>
  <div class="overlay__loading-text">Please wait</div>
</div>
