<main class="app__main">
  <ecoeden-navbar></ecoeden-navbar>
  <div class="app__main__container">
    <ecoeden-sidenav></ecoeden-sidenav>
    <div class="app__main--content">
      <ecoeden-content-header *ngIf="!isMobileView"></ecoeden-content-header>
      <div class="content-render">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main>

<div class="overlay" [class.overlay--hidden]="!isAppBusy && isAuthenticated">
  <!-- <mat-spinner diameter="40" color="primary"></mat-spinner>
  <div class="overlay__loading-text">Please wait</div> -->
  <svg>
    <text x="50%" y="50%" dy=".35em" text-anchor="middle">Ecoeden</text>
  </svg>
</div>
