<div class="row">
  <div class="col-sm-12" *ngFor="let supplier of supplierList | paginate: { itemsPerPage: 10, currentPage: currentPage, totalItems: totalCount }">
    <mat-card class="mb-5">
      <mat-card-header>
        <div matCardTitle>
          {{ supplier.name }}
        </div>
        <div matCardSubtitle>
          {{ supplier.email }}
        </div>
        <div matCardSubtitle>
          {{ supplier.phone }}
        </div>
        <mat-card-actions>
          <button mat-icon-button color="primary" [matMenuTriggerFor]="actionMenu" #actionMenuTrigger="matMenuTrigger"
            ><span class="material-symbols-outlined">more_horiz</span></button
          >
        </mat-card-actions>
      </mat-card-header>
      <mat-card-footer>
        <span class="material-symbols-outlined">history</span>
        <span>{{ supplier.createdOn | formatDate | formatStatus }}</span>
        <span
          class="badge rounded-pill"
          [class]="{
            'badge--success': supplier.status,
            'badge--danger': !supplier.status  
           }"
          >{{ supplier.status | formatStatus }}</span
        >
      </mat-card-footer>
    </mat-card>
    <!-- Action menu -->
    <mat-menu #actionMenu="matMenu">
      <div mat-button mat-menu-item (click)="onVisit(supplier.id)">
        <span class="material-symbols-outlined text-primary">visibility</span>
        <span>View details</span>
      </div>
      <div mat-button mat-menu-item>
        <span class="material-symbols-outlined text-secondary">edit</span>
        <span>Edit</span>
      </div>
      <div mat-button mat-menu-item>
        <span class="material-symbols-outlined text-warn">delete</span>
        <span>Delete</span>
      </div>
    </mat-menu>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
  </div>
</div>
