<div class="row user-details" @fadeSlideInOut *ngIf="!isBusy">
  <div class="col-sm-12">
    <mat-card>
      <div matCardContent>
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="user-details__primary">
              <div class="avatar-container">
                <img src="../../../../assets/images/user_avatar2.webp" alt="user_avatar" class="avatar" />
              </div>
              <div class="row basic-details">
                <div class="basic-details__title">
                  {{ user.firstName }} {{ user.lastName }}
                  {{ isCurrentUser ? "(You)" : "" }}
                </div>
                <div class="basic-details__subtitle">({{ user.id }})</div>
                <div class="basic-details__role">
                  <span class="material-symbols-outlined">badge</span>
                  <span>{{ user.userRoles }}</span>
                </div>
                <div class="basic-details__status">
                  <span
                    class="badge rounded-pill"
                    [class]="{
                      'badge--success': user.isActive,
                      'badge--danger': !user.isActive
                    }"
                    >{{ user.isActive ? "Enabled" : "Disabled" }}
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <ng-container *ngIf="!user.isDefaultAdmin || !  isCurrentUser; else actionNotice">
              <div class="user-details__action-group">
                <button mat-raised-button button color="primary"
                  ><span class="material-symbols-outlined">edit</span>
                  <span>Edit</span>
                </button>
                <button mat-raised-button color="warn">
                  <span class="material-symbols-outlined">delete</span>
                  <span>Delete</span>
                </button>
              </div>
            </ng-container>
            <ng-template #actionNotice>
              <div class="user-details__action-group">
                <ecoeden-notice-banner [isImportant]="true" [type]="BannerType.basic">
                  You do not have permission to modify your data from here as you have default admin flag set. Click here to know more about default
                  Admin role.
                </ecoeden-notice-banner>
              </div>
            </ng-template>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="container">
              <!-- Basic details here -->
              <div class="row">
                <div class="col-sm-12"><ecoeden-divider label="Basic details"></ecoeden-divider></div>
                <div class="col-sm-12 col-md-6"
                  ><ecoeden-individual-details icon="person" label="User name" [value]="user.userName"></ecoeden-individual-details
                ></div>
                <div class="col-sm-12 col-md-6"
                  ><ecoeden-individual-details icon="email" label="Email" [value]="user.email"></ecoeden-individual-details
                ></div>
                <div class="col-sm-12 col-md-6"
                  ><ecoeden-individual-details
                    icon="verified"
                    label="Email verification"
                    [value]="user.emailConfirmed ? 'Confirmed' : 'Pending'"
                  ></ecoeden-individual-details
                ></div>
                <div class="col-sm-12 col-md-6"
                  ><ecoeden-individual-details icon="history" label="Last login" [value]="user.lastLogin | formatDate"></ecoeden-individual-details
                ></div>
              </div>

              <!-- Metadata details here -->
              <div class="row">
                <div class="col-sm-12"><ecoeden-divider label="Metadata details"></ecoeden-divider></div>
                <div class="col-sm-12 col-md-6"
                  ><ecoeden-individual-details
                    icon="person_add"
                    label="Created by"
                    [value]="showMinimalData(user.metaData.createdBy)"
                  ></ecoeden-individual-details
                ></div>
                <div class="col-sm-12 col-md-6"
                  ><ecoeden-individual-details
                    icon="manage_accounts"
                    label="Update by"
                    [value]="showMinimalData(user.metaData.updtedBy)"
                  ></ecoeden-individual-details
                ></div>
                <div class="col-sm-12 col-md-6"
                  ><ecoeden-individual-details
                    icon="schedule"
                    label="Created on"
                    [value]="user.metaData.createdAt | formatDate"
                  ></ecoeden-individual-details
                ></div>
                <div class="col-sm-12 col-md-6"
                  ><ecoeden-individual-details
                    icon="schedule"
                    label="Updated on"
                    [value]="user.metaData.updatedAt | formatDate"
                  ></ecoeden-individual-details
                ></div>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6">
            <div class="container">
              <!-- Role details here -->
              <div class="row">
                <div class="col-sm-12"><ecoeden-divider label="Role details"></ecoeden-divider></div>
                <div class="col-sm-12">
                  <div class="code-segment">
                    <pre [innerHTML]="getUserRolePermissionJson()"></pre>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>

<ng-container *ngIf="isBusy">
  <div class="user-loading-content">
    <mat-spinner [diameter]="40" color="primary"></mat-spinner>
  </div>
</ng-container>
