@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixin';
@import '../../../../assets/styles/util';

/* Container for the file uploader */
.file-upload__container {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  row-gap: 25px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px dashed $color-accent;
  background-color: #fafafa;
  height: auto;
  overflow: hidden;
  &--overlay {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: $color-blue-gray;
      opacity: 0.55;
    }
  }

  .upload-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    font-family: 'Titillium Web', 'sans-serif';
    &__hint {
      font-size: $font-xs;
      color: $color-accent;
    }
    &__file-info {
      font-size: 14px;
      color: #333;
      font-weight: bold;
      animation: fadeIn 0.5s ease-in-out;
      &::before {
        content: '📷 ';
        font-size: 16px;
        color: #41348e;
      }
    }
  }

  .upload-button {
    font-family: 'Titillium Web', 'sans-serif';
    background-color: $color-primary;
    color: white;
    padding: 5px 10px;
    font-size: $font-sm;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: #41348e;
    }
    input[type='file'] {
      display: none;
    }
    @include for-phone-only-up {
      display: flex;
    }
  }
}

.image-preview {
  @include for-phone-only-up {
    text-align: center;
  }
  & img {
    max-width: 100%;
    height: 120px;
    width: 120px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

.clear-button {
  font-family: 'Titillium Web', 'sans-serif';
  color: $color-warn;
  padding: 5px 10px;
  font-size: $font-sm;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
}

/* Keyframe for fadeIn effect */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
