@import './variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-size: 10px;
  font-display: swap;
}

body {
  font-family: 'Titillium Web', 'sans-serif';
}

hr {
  border: none;
  border-bottom: 2px solid $color-blue-gray;
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-accent;
  border-radius: 0.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $color-secondary;
}

table {
  border-collapse: collapse;
  min-width: 100%;
  thead {
    background-color: $color-primary;
    tr {
      th {
        padding: 1rem;
        font-size: $font-md;
        text-align: center;
        color: $color-light;
        font-weight: 600;
      }
    }
  }

  tbody {
    background-color: #fdfdfd;
    tr {
      border: 1px solid rgba(124, 124, 124, 0.2);
      transition: background-color 0.3s ease-in-out;
      td {
        padding: 1.3rem !important;
        font-size: $font-md;
        text-align: center;
        .action-button {
          &--watch,
          &--edit,
          &--delete {
            border: none;
            cursor: pointer;
            box-shadow: 0px 2px 5px 0px rgba(30, 30, 30, 0.475);
            padding: 10px;
            color: $color-light;
            font-size: $font-md;
            border-radius: 0.5rem;
            &:not(:last-child) {
              margin-right: 15px;
            }
            &:active {
              box-shadow: 0px 1px 2px 0px rgba(99, 99, 99, 0.2);
            }
            transition: box-shadow 0.085s cubic-bezier(0.55, 0.055, 0.675, 0.19);
          }
          &--watch {
            background-color: lighten($color-primary, 20%);
            border: 1px solid lighten($color-primary, 20%);
          }
          &--edit {
            background-color: lighten($color-secondary, 20%);
            border: 1px solid lighten($color-secondary, 20%);
          }
          &--delete {
            background-color: $color-warn;
            border: 1px solid $color-warn;
          }
        }
      }
    }
  }
}

.ngx-pagination {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  li {
    padding: 0;
  }
}

.xng-breadcrumb-list {
  display: flex;
  .xng-breadcrumb-separator {
    padding: 25px 0px;
  }
  .xng-breadcrumb-item {
    padding: 25px 0;
  }
}

.toast-container {
  .toast-title {
    font-size: $font-sm;
    margin-bottom: .5rem;
  }
  .toast-message {
    font-size: $font-sm;
  }
}
