@import './variables';
@import './mixin';

.container {
  width: 100%;
  margin: 0px auto;
  padding: 10px;
}

//

// Define breakpointss
$breakpoint-sm: 0px;
$breakpoint-md: 576px;
$breakpoint-lg: 768px;
$breakpoint-xl: 992px;

// Mixin for setting up the grid column
@mixin place-column($col) {
  grid-column: span $col;
}

// Responsive mixin to apply media queries
@mixin responsive($breakpoint) {
  @if $breakpoint == sm {
    @media (min-width: $breakpoint-sm) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (min-width: $breakpoint-md) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (min-width: $breakpoint-lg) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (min-width: $breakpoint-xl) {
      @content;
    }
  }
}

// Grid container setup
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.5rem;
}

// Generate column classes for each breakpoint
@each $size, $breakpoint in (sm: $breakpoint-sm, md: $breakpoint-md, lg: $breakpoint-lg, xl: $breakpoint-xl) {
  @for $i from 1 through 12 {
    .col-#{$size}-#{$i} {
      @include responsive($size) {
        @include place-column($i);
      }
    }
  }
}
