// colors
$color-primary: #5f43b2;
$color-secondary: #3a3153;
$color-accent: #b1aebb;
$color-light: #fefdfd;
$color-dark: #010101;
$color-light-gray: #dadada;
$color-warn: rgb(248, 93, 93);

// typography
$font-weight-light: 300;
$font-weight-semibold: 400;
$font-weight-bold: 600;

$font-xs: 1.2rem;
$font-sm: 1.6rem;
$font-md: 1.8rem;
$font-lg: 2.2rem;
$font-xl: 2.6rem;

// grid
$grid-span-1: span 1;
$grid-span-2: span 2;
$grid-span-3: span 3;
$grid-span-4: span 4;
$grid-span-5: span 5;
$grid-span-6: span 6;
$grid-span-7: span 7;
$grid-span-8: span 8;
$grid-span-9: span 9;
$grid-span-10: span 10;
$grid-span-11: span 11;
$grid-span-12: span 12;
