@import '../../../assets/styles/grid';
@import '../../../assets/styles/variables';

.unit-list__loading-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
